<div id="mySidenav" class="sidenav">
    <div class="sidenav-avatar">
        <div class="sidenav-avatar_temporary"></div>
        <!-- <img src="" alt=""> -->
    </div>
    <div class="sidenav-name">
        Lorem ipsum
    </div>
    <div class="sidenav-certificates">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="certificates">
                        <div><div class="item item-certificates"></div></div>
                        <div><div class="item item-certificates"></div></div>
                        <div><div class="item item-certificates"></div></div>
                        <div><div class="item item-certificates"></div></div>
                        <div><div class="item item-certificates"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidenav-menu">
        <div class="sidenav-menu_principals">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Perfil</a>
            <a href="#" class="not-consorcio" disabled>Consórcios <small class="text-muted sidenav-item_muted">especiais</small></a>
        </div>
        <div class="sidenav-menu_seconds">
            <a href="#">Central de ajuda</a>
            <div style="display:flex;"><button class="btn btn-danger" style="margin:0 auto; width: 50%;">Sair</button></div>
        </div>
    </div>
</div>