.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.align-components_navbar{
  width: 100%;
  display: inline;
  justify-content: space-between;
  flex-direction: column;
}
.MuiAppBar-root{
  width: auto!important;
}

.MuiPaper-elevation4{
  box-shadow: none!important;
}
.button-back{
  height: 50px;
  width: 50px;
  background-color: #3e51b5;
  color: white;
  text-align: center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1110;
  box-shadow: 5px 1px 4px #b3b3b3;
}

.dnone{
  display: none;
}

/* pulse */

.pulse-wrapper {
  width: 200px;
  height: 100%;
  margin: 0 auto 0;
}

.pulse-button {
  color: white;
  position: relative;
  font-weight: bold;
  width: 100%;
  border: none;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 5px;
  background-color: #e84c3d;
  cursor: pointer;
  padding: 6px;
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}